@media(min-width: 600px) {
	.container {
		display: flex;
		justify-content: space-around;

	}

	.contEduca {
		display: flex;
		justify-content: space-around;
	}

}



body {
	background: brown;
	font-family: Garamond, Georgia, serif;
	color: black;
	text-align: center;

}



a {
	color: black;
	text-decoration: none;
}

ul {
	display: inline-block;
	text-align: left;
}

h1,
h2,
h3 {
	text-shadow: 1px 1px #f5d889;
}

span {
	text-decoration: underline;
	font-weight: bold;
}



.container-box {
	flex-basis: 20%;
	background-color: #f5d889;

}

.contEduca-box {
	flex-basis: 30%;
	background-color: #f5d889;


}


.container div,
.contEduca div {
	/* border: 1px black solid; */
	border-radius: 5px;
	padding: 0.5%;


}

ul.a {
	list-style-type: square;
}

/* .profilePic {
	display: flex;
	padding: 0.5%;
	float: left;
} */

#main {
	margin: 1%;
	background-color: lightgoldenrodyellow;
}

.logo {
	width: 50px;
	height: 51px;

}